@import "scss/all.scss";

.TopJokesCard {
  @extend %card;
  width: 100%;
  padding: 32px;

  &-title {
    @include font(15px, 600, $text, 1.6);
    margin: 0 0 16px;
    text-transform: uppercase;
  }

  &-item {
    @include font(15px, normal, $text, 1.47);
    margin: 8px 0;
    display: block;
  }
}
