@import "scss/all.scss";

.SearchSection {
  @extend %background-image;
  @extend %flex-center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 320px;
  padding: $mobile-borders;
  @media #{ $desktop-down } {
    height: 240px;
  }

  &-title {
    @include font(48px, normal, $secondary, 1.5);
    margin-top: 40px;
    margin-bottom: 0px;
    @media #{ $desktop-down } {
      @include font(36px, normal);
    }
  }

  &-subtitle {
    @include font(22px, 600, $white, 1.45);
    margin: 0;
    @media #{ $desktop-down } {
      @include font(16px, normal);
    }
  }

  &-search {
    @include font(16px, normal, $white);
    border: none;
    outline: none;
    width: calc(100% - 48px);
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    @media #{ $desktop-down } {
      @include font(14px, normal);
    }
    &::placeholder {
      @include font(16px, normal, $grey);
      @media #{ $desktop-down } {
        @include font(14px, normal);
      }
    }

    &-wrapper {
      @extend %flex-stretch;
      position: relative;
      margin: 45px 0;
      max-width: 458px;
      width: 100%;
      height: 48px;
      border: 1px solid white;
      border-radius: 4px;
    }

    &-loading-icon {
      // height: 80%;
      // width: 80%;
    }
    &-icon {
      &-wrapper {
        padding: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
      }
    }

    &-dropdown {
      &-wrapper {
        @include dropdown($white, 7px, 0 -1px 3px 0 $shadow, "left");
        z-index: 1000000;
      }

      &-item {
        @extend %flex-center;
        @include underline(16px);
        width: 100%;
        height: 50px;
        padding: 0 20px 0 0;

        &-bolt {
          display: inline-block;
          min-width: 40px;
        }

        &-text {
          @extend %ellipsis;
          @include font(15px, normal, $text-lighter, 1.33);
        }
      }
    }
  }
}
