@import "../../scss/breakpoints.scss";
@import "../../scss/mixins.scss";
@import "../../scss/constants.scss";

.Button {
  @include flex-center;
  border: 1px solid $dark-white;
  background-color: $white;
  padding: 10px;
  color: $secondary;
  position: relative;

  &-text {
    @include font(14px, 600);
    text-transform: uppercase;
    line-height: 1.43;
  }

  &-icon {
    height: 15px;
    padding: 0 8px;
  }
}
