@import "scss/all.scss";

.Button, .BigButton {
  @extend %flex-center;
  @include font(14px, 600);
  color: $secondary;
  text-transform: uppercase;
  background-color: $white;
}

.Button {
  padding: 10px;
  position: relative;
  border: 1px solid $dark-white;

  &-icon {
    height: 15px;
    padding: 0 8px;
  }
}

.BigButton {
  justify-content: space-around;
  padding: 14px;
  max-width: $big-button-max-width;
  width: 100%;
  border-radius: 2px;
  border: solid 1px $secondary;

  &-icon {
    width: 11px;
  }
}
