@import "scss/all.scss";

.SingleJokeSection {
  width: $desktop;
  margin: 0 auto;
  @media #{ $desktop-down } {
    width: 100%;
    padding: $mobile-borders;
    margin: 0;
  }

  &-back-button {
    @include flex(center, center);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    width: 62px;
    height: 62px;
    cursor: pointer;
    margin: 46px 0 48px;
    @media #{ $desktop-down } {
      margin: 26px 0 28px;
    }
  }

  &-content-wrapper {
    display: flex;
    @media #{ $desktop-down } {
      flex-direction: column;
    }
  }

  &-joke {
    &-wrapper {
      flex: 2;
      margin-right: 30px;
      @media #{ $desktop-down } {
        margin: 0 0 30px;
      }
    }

    &-buttons-wrapper {
      @include flex(flex-end, space-between);
      margin-top: 30px;
      @media #{ $xs-down } {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
    }
  }

  &-nav-buttons {
    display: flex;
    & > *:last-child {
      margin-left: 8px;
    }
  }

  &-react-buttons {
    flex: 1;
  }

  &-side-section-wrapper {
    margin-bottom: 30px;
    flex: 1;
  }
}
