@import "scss/all.scss";

.RateButtons {
  display: flex;
}

.RateButton {
  @include flex(center, normal, column);
  margin: 0 16px;

  &-count {
    @include font(12px, 600, inherit);
    padding: 5px;
  }

  &-icon-wrapper {
    @include flex(center, center);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding-bottom: 2px;
  }

  &-like {
    $like: #68b680;
    color: $like;
    .RateButton-icon-wrapper {
      background-color: $like;
    }
  }

  &-dislike {
    $dislike: #ff3750;
    color: $dislike;
    .RateButton-icon-wrapper {
      background-color: $dislike;
      transform: rotate(-180deg);
    }
  }
}
