@import "scss/breakpoints.scss";
@import "scss/mixins.scss";
@import "scss/constants.scss";

.JokesSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 38px 15px;
  margin: 60px auto 40px;
  width: $desktop;
  @media #{ $desktop-down } {
    width: 100%;
    margin: 30px 30px 20px;
  }
}