@import "scss/breakpoints.scss";
@import "scss/mixins.scss";
@import "scss/constants.scss";

.JokesSection {
  margin: 60px auto 58px;
  width: $desktop;
  @media #{ $desktop-down } {
    width: 100%;
    margin: 50px auto 40px;
    padding: 0 $mobile-borders;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 38px 15px;
    margin-bottom: 64px;
    @media #{ $desktop-down } {
      grid-template-columns: 1fr;
    }
  }

  &-more-button-wrapper {
    @include flex-center;
    justify-content: center;
    width: 100%;
  }
}