@import "scss/all.scss";

.Category {
  &-tag {
    @include font(12px, 600);
    position: relative;
    padding: 5px 10px 5px 20px;
    border-radius: 15px;
    margin-right: 10px;

    &-dot {
      @include bullet;
      background-color: $white;
    }
  }

  &-button {
    @include flex(center, center);
    padding: 14px;
    width: 100%;
    max-width: $big-button-max-width;
    border-width: 1px;
    border-style: solid;
    @include box-shadow-hover;

    &-text {
      @include font(14px, 600);
      text-transform: uppercase;
    }
  }

  &-bolt {
    background-color: transparent !important;
  }


  @mixin categoryTheme($bg, $color: $white) {
    background-color: $bg;
    color: $color;
    path {
      fill: $bg;
    }

    @if $color != $white {
      border-color: $color;
    }
    @else {
      border-color: $bg;
    }
  }

  &-uncategorized {
    @include categoryTheme(#ff5b5b);
  }
  &-explicit {
    @include categoryTheme(#ff915b);
  }
  &-movie {
    @include categoryTheme(#ffbe5b);
  }
  &-music {
    @include categoryTheme(#ffdf5b, #5e5e5e);
  }
  &-dev {
    @include categoryTheme(#8fe360);
  }
  &-history {
    @include categoryTheme(#57e690);
  }
  &-celebrity {
    @include categoryTheme(#57dbe6);
  }
  &-food {
    @include categoryTheme(#57e690);
  }
  &-religion {
    @include categoryTheme(#57dbe6);
  }
  &-sport {
    @include categoryTheme(#57e690);
  }
  &-money {
    @include categoryTheme(#8fe360);
  }
  &-science {
    @include categoryTheme(#ffdf5b, #5e5e5e);
  }
  &-career {
    @include categoryTheme(#ffbe5b);
  }
  &-political {
    @include categoryTheme(#ff915b);
  }
  &-animal {
    @include categoryTheme(#ff5b5b);
  }
  &-fashion {
    @include categoryTheme(#ffbe5b);
  }
  &-travel {
    @include categoryTheme(#57e690);
  }
}

