@import "../../scss/breakpoints.scss";
@import "../../scss/mixins.scss";
@import "../../scss/constants.scss";

// TODO add unique colours
.Category {
  &-tag {
    @include font(12px, 600);
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    padding-left: 20px;
    border-radius: 15px;
    width: fit-content;
    margin-right: 10px;
    &-dot {
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      position: absolute;
      background-color: $white;
      width: 4px;
      height: 4px;
      border-radius: 100%;
    }
  }

  &-button {
    @include flex-center;
    justify-content: center;
    padding: 14px;
    width: 100%;
    max-width: 206px;

    &-text {
      @include font(14px, 600);
      text-transform: uppercase;
    }
  }


  &-animal {
    border-color: #57e690;
    background-color: #57e690;
    color: $white;
  }
  &-career {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-celebrity {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-dev {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-explicit {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-fashion {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-food {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-history {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-money {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-movie {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-music {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-political {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-religion {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-science {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-sport {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-travel {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
  &-uncategorized {
    border-color: #ff5b5b;
    background-color: #ff5b5b;
    color: $white;
  }
}

