@import "scss/all.scss";

.Header {
  &-wrapper {
    width: 100%;
    height: 60px;
    background-color: $primary;
    @media #{ $desktop-down } {
      padding: 0 $mobile-borders;
      height: 50px;
    }
  }

  @include flex(center, normal);
  height: 100%;
  width: $desktop;
  margin-left: auto;
  margin-right: auto;
  @media #{ $desktop-down } {
    width: 100%;
  }

  &-logo {
    height: 38px;
    @media #{ $desktop-down } {
      height: 28px;
    }

    &-wrapper {
      flex-grow: 1;
    }
  }
}
