@import "scss/breakpoints.scss";
@import "scss/mixins.scss";
@import "scss/constants.scss";

.SingleJokeCard {
  @include card;
  width: 100%;
  overflow: auto;

  &-head {
    @include flex-center;
    justify-content: space-between;
    flex-wrap: wrap;

    &-tag {
      margin-bottom: 5px;
    }
  }

  &-title {
    @include font(40px, 600);
    color: $secondary;
    margin: 10px 0;
  }

  &-joke {
    @include font(15px, normal);
    color: $text;
    line-height: 1.47;
  }
}
