@import "scss/breakpoints.scss";
@import "scss/mixins.scss";
@import "scss/constants.scss";

.CategoriesSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px 20px;
  margin: 60px auto 40px;
  width: $desktop;
  @media #{ $desktop-down } {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 40px auto 25px;
    padding: 0 $mobile-borders;
  }
  @media (max-width: calc(#{ $big-button-max-width } * 4)) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: calc(#{ $big-button-max-width } * 3)) {
    grid-template-columns: repeat(2, 1fr);
  }
}
