$primary: #303030;
$secondary: #cfb995;

$text: #313131;
$text-light: #5e5e5e;
$text-lighter: #9c9c9c;

$white: #ffffff;
$almost-white: #f9f9f9;
$dark-white: #ecebe9;

$grey: #d1d1d1;
$shadow: rgba(0, 0, 0, 0.15);

$mobile-borders: 20px;
$big-button-max-width: 206px
