@import "scss/all.scss";

.JokeCard {
  @include flex(normal, normal, column);
  min-height: 264px;
  padding: 16px;
  border-radius: 2px;
  border: solid 1px $dark-white;
  background-color: $white;
  word-break: break-word;
  @include box-shadow-hover;

  &-head {
    @include flex(center, normal);
  }

  &-title {
    @include font(16px, 600, $primary, 1.25);
    margin: 0 0 0 8px;
    text-transform: uppercase;
  }

  &-joke {
    @include font(14px, normal, $text, 1.57);
    flex-grow: 1;
  }

  &-buttons {
    @include flex(normal, flex-end);
  }
}