@import "scss/all.scss";

.JokeCard {
  display: flex;
  flex-direction: column;
  min-height: 264px;
  padding: 16px;
  border-radius: 2px;
  border: solid 1px $dark-white;
  background-color: $white;
  word-break: break-word;
  transition: 300ms;
  &:hover {
    box-shadow: 0 1px 7px 0 $shadow;
  }

  &-head {
    @extend %flex-center;
  }

  &-title {
    @include font(16px, 600, $primary, 1.25);
    margin: 0 0 0 8px;
    text-transform: uppercase;
  }

  &-joke {
    @include font(14px, normal, $text, 1.57);
    flex-grow: 1;
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
  }
}