@import "scss/all.scss";

%mobileHeaderButton {
  @include underline(12px);
  @include font(14px, 600, $white);
  letter-spacing: .75px;
  text-align: start;
  // height: 40px;
  width: 100%;
  padding: 16px 20px;
}

.MobileMenu {
  &-open-button {
    font-size: 22px;
    color: $white;
    cursor: pointer;

    &-wrapper {
      @extend %flex-center;
      @media #{ $desktop-up } {
        display: none;
      }
    }
  }

  &-menu {
    $duration: 300ms;
    $effect: ease-in-out;

    position: fixed;
    top: 0;
    left: 100%;
    width: 280px;
    height: 100vh;
    z-index: 100000;
    background-color: $primary;
    transition: transform $effect $duration;
    padding-top: 30px;;
    &.active {
      transform: translateX(-100%);
    }

    &-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 100vh;
      z-index: 5000;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color $effect $duration;
      &.active {
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &-button {
    @extend %mobileHeaderButton;
    &:nth-child(2):after {
      content: none;
    }
  }

  &-group {
    &-title {
      @extend %flex-center;
      @extend %mobileHeaderButton;
      margin-top: 30px;
      img {
        margin-right: 20px;
      }
    }

    &-button {
      @extend %mobileHeaderButton;
      display: block;
      text-decoration: none;
      padding-left: 40px;
      &.special {
        color: $secondary;
      }
    }
  }
}
